<div class="star-info-window <%= artist.category.name %>">
  <div class='constellation-window-text'>
   <%= artist.full_name %>
  </div>
  <% if artist.photo.attached? %>
    <%= cl_image_tag(artist.photo.key, :crop => "pad", class:'star-info-window-img') %>
  <% end %>

</div>
