<div class="" data-controller="clipboard" data-clipboard-success-content="Copied!">
  <input type="text" value="<%= value %>" data-clipboard-target="source" style="display: none;" />
  <button type="button" data-action="clipboard#copy" data-clipboard-target="button">
    <i class="fa-solid fa-globe"></i>
    <p><%= cta %></p>
  </button>
</div>
