 <div class="music-artists">
      <div class="constellation-music">
        <div class="box-music-artist">
          <div class="star-music-artist star-music-s"></div>
          <div class="star-music-artist star-music-m"></div>
        </div>
        <div class="first">
          <div class="star-music star-music-s"></div>
          <div class="star-music star-music-m"></div>
          <div class="star-music star-music-l"></div>
          <div class="star-music star-music-s"></div>
          <div class="star-music star-music-m"></div>
          <div class="star-music star-music-l"></div>
          <div class="star-music star-music-s"></div>
          <div class="star-music star-music-m"></div>
          <div class="star-music star-music-l"></div>
          <div class="star-music star-music-s"></div>
          <div class="star-music star-music-m"></div>
          <div class="star-music star-music-l"></div>
          <div class="star-music star-music-l"></div>
          <div class="star-music star-music-s"></div>
          <div class="star-music star-music-m"></div>
          <div class="star-music star-music-l"></div>
          <div class="star-music star-music-l"></div>
          <div class="star-music star-music-s"></div>
          <div class="star-music star-music-m"></div>
          <div class="star-music star-music-l"></div>
          <div class="star-music star-music-l"></div>
          <div class="star-music star-music-s"></div>
          <div class="star-music star-music-m"></div>
          <div class="star-music star-music-l"></div>
          <div class="star-music star-music-s"></div>
          <div class="star-music star-music-s"></div>
          <div class="star-music star-music-s"></div>
          <div class="star-music star-music-s"></div>
          <div class="star-music star-music-s"></div>
          <div class="star-music star-music-s"></div>
          <div class="star-music star-music-s"></div>
          <div class="star-music star-music-s"></div>
          <div class="star-music star-music-s"></div>
          <div class="star-music star-music-s"></div>
          <div class="star-music star-music-s"></div>
          <div class="star-music star-music-s"></div>
          <div class="star-music star-music-s"></div>
          <div class="star-music star-music-s"></div>
          <div class="star-music star-music-s"></div>
          <div class="star-music star-music-s"></div>
          <div class="star-music star-music-s"></div>
          <div class="star-music star-music-s"></div>
          <div class="star-music star-music-s"></div>
          <div class="star-music star-music-s"></div>
          <div class="star-music star-music-s"></div>
          <div class="star-music star-music-s"></div>
          <div class="star-music star-music-s"></div>
          <div class="star-music star-music-s"></div>
          <div class="star-music star-music-s"></div>

          <div class="star-music star-music-m"></div>
          <div class="star-music star-music-m"></div>
          <div class="star-music star-music-m"></div>
          <div class="star-music star-music-m"></div>
          <div class="star-music star-music-m"></div>
          <div class="star-music star-music-s"></div>
          <div class="star-music star-music-s"></div>
          <div class="star-music star-music-s"></div>
          <div class="star-music star-music-s"></div>
          <div class="star-music star-music-s"></div>
          <div class="star-music star-music-m"></div>
          <div class="star-music star-music-s"></div>
          <div class="second">
            <div class="star-music star-music-l"></div>
            <div class="star-music star-music-m"></div>
            <div class="star-music star-music-l"></div>
            <div class="star-music star-music-l"></div>
            <div class="star-music star-music-l"></div>
            <div class="star-music star-music-l"></div>
            <div class="star-music star-music-l"></div>
            <div class="star-music star-music-l"></div>
                    <div class="star-music star-music-l"></div>
            <div class="star-music star-music-l"></div>
            <div class="star-music star-music-m"></div>
                    <div class="star-music star-music-l"></div>
            <div class="star-music star-music-l"></div>
            <div class="star-music star-music-l"></div>
            <div class="third">
              <div class="star-music star-music-xs"></div>
              <div class="star-music star-music-xs"></div>
              <div class="star-music star-music-xs"></div>
            </div>
          </div>
        </div>
      </div>
</div>
