<div class="painter-artists">
      <div class="constellation-painter">
        <div class="box-painter-artist">
          <div class="star-painter-artist star-painter-s"></div>
          <div class="star-painter-artist star-painter-m"></div>
        </div>
        <div class="first-painter">
          <div class="star-painter star-painter-s"></div>
          <div class="star-painter star-painter-m"></div>
          <div class="star-painter star-painter-l"></div>
          <div class="star-painter star-painter-s"></div>
          <div class="star-painter star-painter-m"></div>
          <div class="star-painter star-painter-l"></div>
          <div class="star-painter star-painter-s"></div>
          <div class="star-painter star-painter-m"></div>
          <div class="star-painter star-painter-l"></div>
          <div class="star-painter star-painter-s"></div>
          <div class="star-painter star-painter-m"></div>
          <div class="star-painter star-painter-l"></div>
          <div class="star-painter star-painter-l"></div>
          <div class="star-painter star-painter-s"></div>
          <div class="star-painter star-painter-m"></div>
          <div class="star-painter star-painter-l"></div>
          <div class="star-painter star-painter-l"></div>
          <div class="star-painter star-painter-s"></div>
          <div class="star-painter star-painter-m"></div>
          <div class="star-painter star-painter-l"></div>
          <div class="star-painter star-painter-l"></div>
          <div class="star-painter star-painter-s"></div>
          <div class="star-painter star-painter-m"></div>
          <div class="star-painter star-painter-l"></div>
          <div class="star-painter star-painter-s"></div>
          <div class="star-painter star-painter-s"></div>
          <div class="star-painter star-painter-s"></div>
          <div class="star-painter star-painter-s"></div>
          <div class="star-painter star-painter-s"></div>
          <div class="star-painter star-painter-s"></div>
          <div class="star-painter star-painter-s"></div>
          <div class="star-painter star-painter-s"></div>
          <div class="star-painter star-painter-s"></div>
          <div class="star-painter star-painter-s"></div>
          <div class="star-painter star-painter-s"></div>
          <div class="star-painter star-painter-s"></div>
          <div class="star-painter star-painter-s"></div>
          <div class="star-painter star-painter-s"></div>
          <div class="star-painter star-painter-s"></div>
          <div class="star-painter star-painter-s"></div>
          <div class="star-painter star-painter-s"></div>
          <div class="star-painter star-painter-s"></div>
          <div class="star-painter star-painter-s"></div>
          <div class="star-painter star-painter-s"></div>
          <div class="star-painter star-painter-s"></div>
          <div class="star-painter star-painter-s"></div>
          <div class="star-painter star-painter-s"></div>
          <div class="star-painter star-painter-s"></div>
          <div class="star-painter star-painter-s"></div>
          <div class="star-painter star-painter-m"></div>
          <div class="star-painter star-painter-m"></div>
          <div class="star-painter star-painter-m"></div>
          <div class="star-painter star-painter-m"></div>
          <div class="star-painter star-painter-m"></div>
          <div class="star-painter star-painter-s"></div>
          <div class="star-painter star-painter-s"></div>
          <div class="star-painter star-painter-s"></div>
          <div class="star-painter star-painter-s"></div>
          <div class="star-painter star-painter-s"></div>
          <div class="star-painter star-painter-m"></div>
          <div class="star-painter star-painter-s"></div>
          <div class="second-painter">
            <div class="star-painter star-painter-l"></div>
            <div class="star-painter star-painter-m"></div>
            <div class="star-painter star-painter-l"></div>
            <div class="star-painter star-painter-l"></div>
            <div class="star-painter star-painter-l"></div>
            <div class="star-painter star-painter-l"></div>
            <div class="star-painter star-painter-l"></div>
            <div class="star-painter star-painter-l"></div>
                    <div class="star-painter star-painter-l"></div>
            <div class="star-painter star-painter-l"></div>
            <div class="star-painter star-painter-m"></div>
                    <div class="star-painter star-painter-l"></div>
            <div class="star-painter star-painter-l"></div>
            <div class="star-painter star-painter-l"></div>
            <div class="third-painter">
              <div class="star-painter star-painter-xs"></div>
              <div class="star-painter star-painter-xs"></div>
              <div class="star-painter star-painter-xs"></div>
            </div>
          </div>
        </div>
      </div>
</div>
