<div class="photographer-artists">
        <div class="constellation-photographer">
          <div class="box-artist">
          <div class="star-artist star-s"></div>
          <div class="star-artist star-m"></div>
          </div>
          <div class="first">
            <div class="star star-s"></div>
            <div class="star star-m"></div>
            <div class="star star-l"></div>
            <div class="star star-s"></div>
            <div class="star star-m"></div>
            <div class="star star-l"></div>
            <div class="star star-s"></div>
            <div class="star star-m"></div>
            <div class="star star-l"></div>
            <div class="star star-s"></div>
            <div class="star star-m"></div>
            <div class="star star-l"></div>
            <div class="star star-l"></div>
            <div class="star star-s"></div>
            <div class="star star-m"></div>
            <div class="star star-l"></div>
            <div class="star star-l"></div>
            <div class="star star-s"></div>
            <div class="star star-m"></div>
            <div class="star star-l"></div>
            <div class="star star-l"></div>
            <div class="star star-s"></div>
            <div class="star star-m"></div>
            <div class="star star-l"></div>
            <div class="star star-s"></div>
            <div class="star star-s"></div>
            <div class="star star-s"></div>
            <div class="star star-s"></div>
            <div class="star star-s"></div>
            <div class="star star-s"></div>
            <div class="star star-s"></div>
            <div class="star star-s"></div>
            <div class="star star-s"></div>
            <div class="star star-s"></div>
            <div class="star star-s"></div>
            <div class="star star-s"></div>
            <div class="star star-s"></div>
            <div class="star star-s"></div>
            <div class="star star-s"></div>
            <div class="star star-s"></div>
            <div class="star star-s"></div>
            <div class="star star-s"></div>
            <div class="star star-s"></div>
            <div class="star star-s"></div>
            <div class="star star-s"></div>
            <div class="star star-s"></div>
            <div class="star star-s"></div>
            <div class="star star-s"></div>
            <div class="star star-s"></div>
            <div class="star star-m"></div>
            <div class="star star-m"></div>
            <div class="star star-m"></div>
            <div class="star star-m"></div>
            <div class="star star-m"></div>
            <div class="star star-s"></div>
            <div class="star star-s"></div>
            <div class="star star-s"></div>
            <div class="star star-s"></div>
            <div class="star star-s"></div>
            <div class="star star-m"></div>
            <div class="star star-s"></div>
            <div class="second">
              <div class="star star-l"></div>
              <div class="star star-m"></div>
              <div class="star star-l"></div>
              <div class="star star-l"></div>
              <div class="star star-l"></div>
              <div class="star star-l"></div>
              <div class="star star-l"></div>
              <div class="star star-l"></div>
                      <div class="star star-l"></div>
              <div class="star star-l"></div>
              <div class="star star-m"></div>
                      <div class="star star-l"></div>
              <div class="star star-l"></div>
              <div class="star star-l"></div>
              <div class="third">
                <div class="star star-xs"></div>
                <div class="star star-xs"></div>
                <div class="star star-xs"></div>
              </div>
            </div>
          </div>
        </div>
  </div>
