<div class="photographer-artists">
      <div class="constellation-photographer">
        <div class="box-photographer-artist">
        <div class="star-photographer-artist star-photographer-s"></div>
        <div class="star-photographer-artist star-photographer-m"></div>
        </div>
        <div class="first">
          <div class="star-photographer star-photographer-s"></div>
          <div class="star-photographer star-photographer-m"></div>
          <div class="star-photographer star-photographer-l"></div>
          <div class="star-photographer star-photographer-s"></div>
          <div class="star-photographer star-photographer-m"></div>
          <div class="star-photographer star-photographer-l"></div>
          <div class="star-photographer star-photographer-s"></div>
          <div class="star-photographer star-photographer-m"></div>
          <div class="star-photographer star-photographer-l"></div>
          <div class="star-photographer star-photographer-s"></div>
          <div class="star-photographer star-photographer-m"></div>
          <div class="star-photographer star-photographer-l"></div>
          <div class="star-photographer star-photographer-l"></div>
          <div class="star-photographer star-photographer-s"></div>
          <div class="star-photographer star-photographer-m"></div>
          <div class="star-photographer star-photographer-l"></div>
          <div class="star-photographer star-photographer-l"></div>
          <div class="star-photographer star-photographer-s"></div>
          <div class="star-photographer star-photographer-m"></div>
          <div class="star-photographer star-photographer-l"></div>
          <div class="star-photographer star-photographer-l"></div>
          <div class="star-photographer star-photographer-s"></div>
          <div class="star-photographer star-photographer-m"></div>
          <div class="star-photographer star-photographer-l"></div>
          <div class="star-photographer star-photographer-s"></div>
          <div class="star-photographer star-photographer-s"></div>
          <div class="star-photographer star-photographer-s"></div>
          <div class="star-photographer star-photographer-s"></div>
          <div class="star-photographer star-photographer-s"></div>
          <div class="star-photographer star-photographer-s"></div>
          <div class="star-photographer star-photographer-s"></div>
          <div class="star-photographer star-photographer-s"></div>
          <div class="star-photographer star-photographer-s"></div>
          <div class="star-photographer star-photographer-s"></div>
          <div class="star-photographer star-photographer-s"></div>
          <div class="star-photographer star-photographer-s"></div>
          <div class="star-photographer star-photographer-s"></div>
          <div class="star-photographer star-photographer-s"></div>
          <div class="star-photographer star-photographer-s"></div>
          <div class="star-photographer star-photographer-s"></div>
          <div class="star-photographer star-photographer-s"></div>
          <div class="star-photographer star-photographer-s"></div>
          <div class="star-photographer star-photographer-s"></div>
          <div class="star-photographer star-photographer-s"></div>
          <div class="star-photographer star-photographer-s"></div>
          <div class="star-photographer star-photographer-s"></div>
          <div class="star-photographer star-photographer-s"></div>
          <div class="star-photographer star-photographer-s"></div>
          <div class="star-photographer star-photographer-s"></div>
          <div class="star-photographer star-photographer-m"></div>
          <div class="star-photographer star-photographer-m"></div>
          <div class="star-photographer star-photographer-m"></div>
          <div class="star-photographer star-photographer-m"></div>
          <div class="star-photographer star-photographer-m"></div>
          <div class="star-photographer star-photographer-s"></div>
          <div class="star-photographer star-photographer-s"></div>
          <div class="star-photographer star-photographer-s"></div>
          <div class="star-photographer star-photographer-s"></div>
          <div class="star-photographer star-photographer-s"></div>
          <div class="star-photographer star-photographer-m"></div>
          <div class="star-photographer star-photographer-s"></div>
          <div class="second">
            <div class="star-photographer star-photographer-l"></div>
            <div class="star-photographer star-photographer-m"></div>
            <div class="star-photographer star-photographer-l"></div>
            <div class="star-photographer star-photographer-l"></div>
            <div class="star-photographer star-photographer-l"></div>
            <div class="star-photographer star-photographer-l"></div>
            <div class="star-photographer star-photographer-l"></div>
            <div class="star-photographer star-photographer-l"></div>
                    <div class="star-photographer star-photographer-l"></div>
            <div class="star-photographer star-photographer-l"></div>
            <div class="star-photographer star-photographer-m"></div>
                    <div class="star-photographer star-photographer-l"></div>
            <div class="star-photographer star-photographer-l"></div>
            <div class="star-photographer star-photographer-l"></div>
            <div class="third">
              <div class="star-photographer star-photographer-xs"></div>
              <div class="star-photographer star-photographer-xs"></div>
              <div class="star-photographer star-photographer-xs"></div>
            </div>
          </div>
        </div>
      </div>
</div>
