<div class="sculptor-artists">
      <div class="constellation-sculptor">
        <div class="box-sculptor-artist">
        <div class="star-sculptor-artist star-sculptor-s"></div>
        <div class="star-sculptor-artist star-sculptor-m"></div>
        </div>
        <div class="first">
          <div class="star-sculptor star-sculptor-s"></div>
          <div class="star-sculptor star-sculptor-m"></div>
          <div class="star-sculptor star-sculptor-l"></div>
          <div class="star-sculptor star-sculptor-s"></div>
          <div class="star-sculptor star-sculptor-m"></div>
          <div class="star-sculptor star-sculptor-l"></div>
          <div class="star-sculptor star-sculptor-s"></div>
          <div class="star-sculptor star-sculptor-m"></div>
          <div class="star-sculptor star-sculptor-l"></div>
          <div class="star-sculptor star-sculptor-s"></div>
          <div class="star-sculptor star-sculptor-m"></div>
          <div class="star-sculptor star-sculptor-l"></div>
          <div class="star-sculptor star-sculptor-l"></div>
          <div class="star-sculptor star-sculptor-s"></div>
          <div class="star-sculptor star-sculptor-m"></div>
          <div class="star-sculptor star-sculptor-l"></div>
          <div class="star-sculptor star-sculptor-l"></div>
          <div class="star-sculptor star-sculptor-s"></div>
          <div class="star-sculptor star-sculptor-m"></div>
          <div class="star-sculptor star-sculptor-l"></div>
          <div class="star-sculptor star-sculptor-l"></div>
          <div class="star-sculptor star-sculptor-s"></div>
          <div class="star-sculptor star-sculptor-m"></div>
          <div class="star-sculptor star-sculptor-l"></div>
          <div class="star-sculptor star-sculptor-s"></div>
          <div class="star-sculptor star-sculptor-s"></div>
          <div class="star-sculptor star-sculptor-s"></div>
          <div class="star-sculptor star-sculptor-s"></div>
          <div class="star-sculptor star-sculptor-s"></div>
          <div class="star-sculptor star-sculptor-s"></div>
          <div class="star-sculptor star-sculptor-s"></div>
          <div class="star-sculptor star-sculptor-s"></div>
          <div class="star-sculptor star-sculptor-s"></div>
          <div class="star-sculptor star-sculptor-s"></div>
          <div class="star-sculptor star-sculptor-s"></div>
          <div class="star-sculptor star-sculptor-s"></div>
          <div class="star-sculptor star-sculptor-s"></div>
          <div class="star-sculptor star-sculptor-s"></div>
          <div class="star-sculptor star-sculptor-s"></div>
          <div class="star-sculptor star-sculptor-s"></div>
          <div class="star-sculptor star-sculptor-s"></div>
          <div class="star-sculptor star-sculptor-s"></div>
          <div class="star-sculptor star-sculptor-s"></div>
          <div class="star-sculptor star-sculptor-s"></div>
          <div class="star-sculptor star-sculptor-s"></div>
          <div class="star-sculptor star-sculptor-s"></div>
          <div class="star-sculptor star-sculptor-s"></div>
          <div class="star-sculptor star-sculptor-s"></div>
          <div class="star-sculptor star-sculptor-s"></div>
          <div class="star-sculptor star-sculptor-m"></div>
          <div class="star-sculptor star-sculptor-m"></div>
          <div class="star-sculptor star-sculptor-m"></div>
          <div class="star-sculptor star-sculptor-m"></div>
          <div class="star-sculptor star-sculptor-m"></div>
          <div class="star-sculptor star-sculptor-s"></div>
          <div class="star-sculptor star-sculptor-s"></div>
          <div class="star-sculptor star-sculptor-s"></div>
          <div class="star-sculptor star-sculptor-s"></div>
          <div class="star-sculptor star-sculptor-s"></div>
          <div class="star-sculptor star-sculptor-m"></div>
          <div class="star-sculptor star-sculptor-s"></div>
          <div class="second">
            <div class="star-sculptor star-sculptor-l"></div>
            <div class="star-sculptor star-sculptor-m"></div>
            <div class="star-sculptor star-sculptor-l"></div>
            <div class="star-sculptor star-sculptor-l"></div>
            <div class="star-sculptor star-sculptor-l"></div>
            <div class="star-sculptor star-sculptor-l"></div>
            <div class="star-sculptor star-sculptor-l"></div>
            <div class="star-sculptor star-sculptor-l"></div>
                    <div class="star-sculptor star-sculptor-l"></div>
            <div class="star-sculptor star-sculptor-l"></div>
            <div class="star-sculptor star-sculptor-m"></div>
                    <div class="star-sculptor star-sculptor-l"></div>
            <div class="star-sculptor star-sculptor-l"></div>
            <div class="star-sculptor star-sculptor-l"></div>
            <div class="third">
              <div class="star-sculptor star-sculptor-xs"></div>
              <div class="star-sculptor star-sculptor-xs"></div>
              <div class="star-sculptor star-sculptor-xs"></div>
            </div>
          </div>
        </div>
      </div>
</div>
