// Specific CSS for your home-page
body {
  font-family: 'Montserrat', sans-serif;
  padding: 0;
  margin: 0;
  min-height: 100vh;
}

.stars {
  z-index: 0;
  height: 90vh;
  width: 100%;
  background-image: url(https://www.manufosela.es/shooting_stars/hori.png), url(https://www.manufosela.es/shooting_stars/stars_5.png);
  background-repeat: repeat-x, repeat-x repeat-y;
  transform: translate3D(0em, 0em, 0em);
  animation: stars 100s ease;
  transform-style: preserve-3d;
  position: relative;
  color: white;
}

.home-banner-infos {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  width: 90%;
  margin: 0 auto;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.hero-text {
  width: 70%;
  text-align: center;
}

.hero-country {
  font-size: 100px;
  margin-bottom: 30px;
  padding: 0;
}

.hero-text-description {
  margin-bottom: 80px;
  padding-bottom: 20px;
}

.explore-btn {
  text-decoration: none;
  color: black;
  box-shadow: 0 4px 30px #ffc500;
  background: #eec500;
  padding: 12px 30px;
  border-radius: 4px;
  border: none;
  outline: none;
  font-weight: normal;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
}

.explore-btn:hover {
  color: black;
  cursor: pointer;
  box-shadow: 0 4px 40px #ffd900;
  background: #ffd900;
}
