/* WHEN AN ARTIST IS LIVE */

.live {
  animation: shine 1s infinite;
}

@keyframes shine {
  from {
    background: #ffffff91;
    box-shadow: 0px 0px 10px white;
    opacity: 0.8;
  }
  to {
    box-shadow: 0px 0px 10px white;
    opacity: 1;
  }
}

/* CONSTELLATION */
/* ARTIST */
.box-photographer-artist {
  height: 400px;
  width: 400px;
  position: absolute;
  z-index: 100;
}
.star-photographer-artist {
  position: absolute;
  background: white;
  border-radius: 50%;
}
/* BG */
.constellation-photographer {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Mettre un bg img pour la forme */
.first {
  filter: blur(2px);
  position: relative;
  height: 500px;
  width: 500px;
  background-size: 100%;
  background-position: center;
}
.second {
  position: relative;
  height: 500px;
  width: 500px;
  background-size: 300%;
  background-position: center;
  z-index: -1;
}
.third {
  position: relative;
  height: 500px;
  width: 500px;
  background-size: 300%;
  background-position: center;
  z-index: 1;
}
.first .star-photographer {
  opacity: 0.9;
}
.star-photographer {
  position: absolute;
  background: white;
  border-radius: 50%;
}
.star-photographer-xs {
  height: 5px;
  width: 5px;
}
.star-photographer-s {
  height: 10px;
  width: 10px;
}
.star-photographer-m {
  height: 15px;
  width: 15px;
}
.star-photographer-l {
  height: 20px;
  width: 20px;
}
.star-photographer:nth-child(1) {
    bottom: 265px;
    left: 12px;
}
.star-photographer:nth-child(2) {
    bottom: 286px;
    left: 13px;
}
.star-photographer:nth-child(3) {
  bottom: 100px;
  left: 13px;
}
.star-photographer:nth-child(4) {
  bottom: 90px;
  left: 13px;
}
.star-photographer:nth-child(5) {
  bottom: 190px;
  left: 13px;
}
.star-photographer:nth-child(6) {
  top: 220px;
  right: 13px;
}
.star-photographer:nth-child(7) {
  top: 240px;
  right: 13px;
}
.star-photographer:nth-child(8) {
  top: 367px;
    right: 190px;
}
.star-photographer:nth-child(9) {
  top: 173px;
  left: 185px;
}
.star-photographer:nth-child(10) {
  top: 51px;
  right: 170px;
}
.star-photographer:nth-child(11) {
  top: 49px;
  left: 170px;
}
.star-photographer:nth-child(12) {
  top: 130px;
  left: 370px;
}
.star-photographer:nth-child(13) {
      top: 280px;
    left: 134px;
}
.star-photographer:nth-child(14) {
top: 352px;
    left: 320px;
}
.star-photographer:nth-child(15) {
    top: 137px;
    left: 440px;
}
.star-photographer:nth-child(16) {
top: 40px;
    left: 280px;
}
.star-photographer:nth-child(17) {
top: 175px;
    left: 286px;
}
.star-photographer:nth-child(18) {
    top: 200px;
    left: 316px;
}
.star-photographer:nth-child(19) {
top: 423px;
    left: 478px;
}
.star-photographer:nth-child(20) {
    top: 304px;
    left: 131px;
}
.star-photographer:nth-child(21) {
    top: 314px;
    left: 340px;
}
.star-photographer:nth-child(22) {
    top: 354px;
    left: 153px;
}
.star-photographer:nth-child(23) {
    top: 184px;
    left: 163px;
}
.star-photographer:nth-child(24) {
    top: 264px;
    left: 474px;
}
.star-photographer:nth-child(25) {
    top: 300px;
    left: 475px;
}
.star-photographer:nth-child(26) {
    top: 147px;
    left: 470px;
}
.star-photographer:nth-child(27) {
    top: 294px;
    left: 359px;
}
.star-photographer:nth-child(28) {
    top: 90px;
    left: 136px;
}
.star-photographer:nth-child(29) {
    top: 264px;
    left: 18px;
}
.star-photographer:nth-child(30) {
    top: 255px;
    left: 137px;
}
.star-photographer:nth-child(31) {
    top: 345px;
    left: 3px;
}
.star-photographer:nth-child(32) {
    top: 135px;
    left: 415px;
}
.star-photographer:nth-child(33) {
    top: 204px;
    left: 169px;
}
.star-photographer:nth-child(34) {
top: 450px;
    left: 70px;
}
.star-photographer:nth-child(35) {
top: 442px;
    left: 49px;
}
.star-photographer:nth-child(36) {
top: 170px;
    left: 229px;
}
.star-photographer:nth-child(37) {
top: 330px;
    left: 478px;
}
.star-photographer:nth-child(38) {
    top: 44px;
    left: 257px;
}
.star-photographer:nth-child(39) {
top: 124px;
    left: 399px;
}
.star-photographer:nth-child(40) {
    top: 194px;
    left: 482px;
}
.star-photographer:nth-child(41) {
top: 234px;
    left: 346px;
}
.star-photographer:nth-child(42) {
    top: 91px;
    left: 354px;
}
.star-photographer:nth-child(43) {
    top: 48px;
    left: 243px;
}
.star-photographer:nth-child(44) {
    top: 42px;
    left: 217px;
}
.star-photographer:nth-child(45) {
    top: 386px;
    left: 261px;
}
.star-photographer:nth-child(46) {
top: 442px;
    left: 389px;
}
.star-photographer:nth-child(47) {
    top: 453px;
    left: 243px;
}
.star-photographer:nth-child(48) {
top: 453px;
    left: 406px;
}
.star-photographer:nth-child(49) {
    top: 135px;
    left: 63px;
}
.star-photographer:nth-child(50) {
    top: 440px;
    left: 163px;
}
.star-photographer:nth-child(51) {
    top: 111px;
    left: 125px;
}
.star-photographer:nth-child(52) {
    top: 137px;
    left: 99px;
}
.star-photographer:nth-child(53) {
    top: 449px;
    left: 343px;
}
.star-photographer:nth-child(54) {
    top: 375px;
    left: 194px;
}
.star-photographer:nth-child(55) {
    top: 227px;
    left: 143px;
}
.star-photographer:nth-child(56) {
    top: 137px;
    left: 35px;
}
.star-photographer:nth-child(57) {
    top: 446px;
    left: 306px;
}
.star-photographer:nth-child(58) {
    top: 440px;
    left: 428px;
}
.star-photographer:nth-child(59) {
top: 217px;
    left: 337px;
}
.star-photographer:nth-child(60) {
top: 444px;
    left: 260px;
}
.star-photographer:nth-child(61) {
top: 450px;
    left: 200px;
}
/* BG */
.second .star-photographer:nth-child(1) {
    top: 375px;
    left: 230px;
  filter: blur(7px);
}
.second .star-photographer:nth-child(2) {
    top: 361px;
    left: 180px;
  filter: blur(7px);
}
.second .star-photographer:nth-child(3) {
    top: 450px;
    left: 135px;
  filter: blur(4px);
}
.second .star-photographer:nth-child(4) {
    top: 330px;
    left: 470px;
  filter: blur(2px);
}
.second .star-photographer:nth-child(5) {
    top: 425px;
    left: 473px;
  filter: blur(10px);
}
.second .star-photographer:nth-child(6) {
    top: 430px;
    left: 16px;
  filter: blur(8px);
}
.second .star-photographer:nth-child(7) {
    top: 65px;
    left: 141px;
  filter: blur(10px);
}
.second .star-photographer:nth-child(8) {
    top: 160px;
    left: 3px;
  filter: blur(5px);
}
.second .star-photographer:nth-child(9) {
    top: 220px;
    left: 160px;
  filter: blur(7px);
}
.second .star-photographer:nth-child(10) {
    top: 295px;
    left: 340px;
  filter: blur(8px);
}
.second .star-photographer:nth-child(11) {
    top: 61px;
    left: 344px;
  filter: blur(5px);
}
.second .star-photographer:nth-child(12) {
    top: 120px;
    left: 350px;
  filter: blur(5px);
}
.second .star-photographer:nth-child(13) {
    top: 450px;
    left: 355px;
  filter: blur(5px);
}
.second .star-photographer:nth-child(14) {
    top: 380px;
    left: 475px;
  filter: blur(15px);
}
.third .star-photographer:nth-child(1) {
    top: 159px;
    left: 70px;
    filter: blur(0);
    animation: move 10s infinite;
}
.third .star-photographer:nth-child(2) {
    top: 432px;
    left: 480px;
    filter: blur(0);
    animation: move 5s infinite;
}
.third .star-photographer:nth-child(3) {
    top: 100px;
    left: 370px;
    filter: blur(0);
    animation: move 12s infinite;
}
@keyframes move {
  from {
    transform: translate(10px, -10px);
  } to {
    transform: translate(0px, -30px);
  }
}
