/* WHEN AN ARTIST IS LIVE */

.live {
  animation: shine 1s infinite;
}

@keyframes shine {
  from {
    background: #ffffff91;
    box-shadow: 0px 0px 10px white;
    opacity: 0.8;
  }

  to {
    box-shadow: 0px 0px 10px white;
    opacity: 1;
  }
}

/* CONSTELLATION */

/* ARTIST */

.star-info-window {
    display: none;
    width: 100%;
    height: 100%;
  }

.artist-star:hover .star-info-window { display:block!important;}
.artist-star {
  position: absolute;
}


.box-music-artist {
  height: 400px;
  width: 400px;
  position: absolute;
  z-index: 100;
}

.star-music-artist {
  position: absolute;
  background: white;
  border-radius: 50%;
}

/* BG */

.constellation-music {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}


.first {
  filter: blur(2px);
  position: relative;
  height: 500px;
  width: 500px;
  background-size: 300%;
  background-position: center;
}

.second {
  position: relative;
  height: 500px;
  width: 500px;
  background-size: 300%;
  background-position: center;
  z-index: -1;
}

.third {
  position: relative;
  height: 500px;
  width: 500px;
  background-size: 300%;
  background-position: center;
  z-index: 1;
}

.first .star-music {
  opacity: 0.9;
}

.star-music {
  position: absolute;
  background: white;
  border-radius: 50%;
}

.star-music-xs {
  height: 5px;
  width: 5px;
}

.star-music-s {
  height: 10px;
  width: 10px;
}

.star-music-m {
  height: 15px;
  width: 15px;
}

.star-music-l {
  height: 20px;
  width: 20px;
}

.star-music:nth-child(1) {
  bottom: 95px;
  left: 62px;
}

.star-music:nth-child(2) {
  bottom: 67px;
  left: 53px;
}

.star-music:nth-child(3) {
  bottom: 38px;
  left: 57px;
}

.star-music:nth-child(4) {
  bottom: 21px;
  left: 73px;
}

.star-music:nth-child(5) {
  bottom: 109px;
  left: 77px;
}

.star-music:nth-child(6) {
  top: 220px;
  right: 50px;
}

.star-music:nth-child(7) {
  top: 255px;
  right: 54px;
}

.star-music:nth-child(8) {
  top: 363px;
  right: 172px;
}

.star-music:nth-child(9) {
  top: 150px;
  left: 170px;
}

.star-music:nth-child(10) {
  top: 33px;
  right: 173px;
}

.star-music:nth-child(11) {
  top: 69px;
  left: 175px;
}

.star-music:nth-child(12) {
  top: 130px;
  left: 431px;
}

.star-music:nth-child(13) {
  top: 280px;
  left: 172px;
}

.star-music:nth-child(14) {
  top: 329px;
  left: 320px;
}

.star-music:nth-child(15) {
  top: 60px;
  left: 433px;
}

.star-music:nth-child(16) {
  top: 40px;
  left: 280px;
}

.star-music:nth-child(17) {
  top: 104px;
  left: 286px;
}

.star-music:nth-child(18) {
  top: 400px;
  left: 330px;
}

.star-music:nth-child(19) {
  left: 355px;
  top: 413px;
}

.star-music:nth-child(20) {
  top: 304px;
  left: 431px;
}

.star-music:nth-child(21) {
  top: 406px;
  left: 388px;
}

.star-music:nth-child(22) {
  top: 354px;
  left: 177px;
}

.star-music:nth-child(23) {
  top: 184px;
  left: 174px;
}

.star-music:nth-child(24) {
  top: 298px;
  left: 393px;
}
.star-music:nth-child(25) {
  top: 398px;
  left: 420px;
}

.star-music:nth-child(26) {
  top: 84px;
  left: 436px;
}

.star-music:nth-child(27) {
  top: 294px;
  left: 359px;
}

.star-music:nth-child(28) {
  top: 132px;
  left: 174px;
}

.star-music:nth-child(29) {
  top: 247px;
  left: 178px;
}

.star-music:nth-child(30) {
  top: 389px;
  left: 178px;
}

.star-music:nth-child(31) {
  top: 365px;
  left: 115px;
}

.star-music:nth-child(32) {
  top: 82px;
  left: 412px;
}

.star-music:nth-child(33) {
  top: 219px;
  left: 176px;
}

.star-music:nth-child(34) {
  top: 480px;
  left: 138px;
}

.star-music:nth-child(35) {
  top: 465px;
  left: 160px;
}

.star-music:nth-child(36) {
  top: 124px;
  left: 234px;
}
.star-music:nth-child(37) {
  top: 180px;
  left: 435px;
}
.star-music:nth-child(38) {
  top: 50px;
  left: 256px;
}

.star-music:nth-child(39) {
  top: 373px;
  left: 433px;
}

.star-music:nth-child(40) {
  top: 341px;
  left: 436px;
}

.star-music:nth-child(41) {
  top: 280px;
  left: 435px;
}

.star-music:nth-child(42) {
  top: 104px;
  left: 319px;
}

.star-music:nth-child(43) {
  top: 57px;
  left: 227px;
}

.star-music:nth-child(44) {
  top: 119px;
  left: 262px;
}

.star-music:nth-child(45) {
  top: 95px;
  left: 350px;
}

.star-music:nth-child(46) {
  top: 16px;
  left: 393px;
}

.star-music:nth-child(47) {
  top: 34px;
  left: 435px;
}

.star-music:nth-child(48) {
  top: 14px;
  left: 435px;
}

.star-music:nth-child(49) {
  top: 435px;
  left: 176px;
}

.star-music:nth-child(50) {
  top: 327px;
  left: 174px;
}

.star-music:nth-child(51) {
  top: 98px;
  left: 174px;
}

.star-music:nth-child(52) {
  top: 128px;
  left: 202px;
}

.star-music:nth-child(53) {
  top: 20px;
  left: 361px;
}

.star-music:nth-child(54) {
  top: 374px;
  left: 146px;
}

.star-music:nth-child(55) {
  top: 306px;
  left: 339px;
}

.star-music:nth-child(56) {
  top: 346px;
  left: 315px;
}

.star-music:nth-child(57) {
  top: 27px;
  left: 341px;
}

.star-music:nth-child(58) {
  top: 9px;
  left: 415px;
}

.star-music:nth-child(59) {
  top: 201px;
  left: 435px;
}

.star-music:nth-child(60) {
  top: 106px;
  left: 434px;
}

.star-music:nth-child(61) {
  top: 63px;
  left: 204px;
}

/* BG */

.second .star-music:nth-child(1) {
  top: 113px;
  left: 243px;
  filter: blur(7px);
}

.second .star-music:nth-child(2) {
  top: 407px;
  left: 174px;
  filter: blur(7px);
}

.second .star-music:nth-child(3) {
  top: 153px;
  left: 431px;
  filter: blur(4px);
}

.second .star-music:nth-child(4) {
  top: 81px;
  left: 378px;
  filter: blur(2px);
}

.second .star-music:nth-child(5) {
  top: 256px;
  left: 429px;
  filter: blur(10px);
}

.second .star-music:nth-child(6) {
  top: 477px;
  left: 101px;
  filter: blur(8px);
}

.second .star-music:nth-child(7) {
  top: 112px;
  left: 174px;
  filter: blur(10px);
}

.second .star-music:nth-child(8) {
  top: 51px;
  left: 236px;
  filter: blur(5px);
}

.second .star-music:nth-child(9) {
  top: 220px;
  left: 169px;
  filter: blur(7px);
}

.second .star-music:nth-child(10) {
  top: 373px;
  left: 318px;
  filter: blur(8px);
}
.second .star-music:nth-child(11) {
  top: 50px;
  left: 432px;
  filter: blur(5px);
}

.second .star-music:nth-child(12) {
  top: 89px;
  left: 334px;
  filter: blur(5px);
}

.second .star-music:nth-child(13) {
  top: 313px;
  left: 417px;
  filter: blur(5px);
}

.second .star-music:nth-child(14) {
  top: 365px;
  left: 122px;
  filter: blur(7px);
}

.third .star-music:nth-child(1) {
  top: 336px;
  left: 174px;
  filter: blur(0);
  animation: move 10s infinite;
}

.third .star-music:nth-child(2) {
  top: 116px;
  left: 261px;
  filter: blur(0);
  animation: move 5s infinite;
}

.third .star-music:nth-child(3) {
  top: 100px;
  left: 355px;
  filter: blur(0);
  animation: move 12s infinite;
}

@keyframes move {
  from {
    transform: translate(10px, -10px);
  } to {
    transform: translate(0px, -30px);
  }
}
