<div class="stars" data-controller="home">
  <%# <section class="container"> %>
    <canvas id="cnv">
    </canvas>

    <div class="container home-banner-infos">
      <div class="hero-text">
        <h1 class="hero-country">COSMOS</h1>
        <h2 class="hero-text-description">Let The World See Your Shinning Art</h2>
        <button class="explore-btn">Sta.art</button>
      </div>
    </div>

  <%# </section> %>
</div>
