<div class="stars" data-controller="home">
  <%# <section class="container"> %>
    <canvas id="cnv">
    </canvas>

    <div class="container">
      <div class="hero-text">
        <h2 class="hero-welcome-text">Bienvenue sur</h2>
        <h1 class="hero-country">COSMOS</h1>
        <p class="hero-text-description">C'est ton heure de briller !</p>
        <button class="explore-btn">Sta.art</button>
      </div>
    </div>

  <%# </section> %>
</div>
