<div data-controller="home">

    <canvas id="cnv">
    </canvas>

    <div class="container home-banner-infos">
      <div class="hero-text">
        <h1 class="hero-country">COSMOS</h1>
        <h2 class="hero-text-description">Let The World See Your Shinning Art</h2>
        <%= link_to "Sta.art", artists_path, class: "explore-btn" %>
      </div>
    </div>

</div>
